.coupons{
  margin-top: 40px;
  list-style: none;
  background-color: var(--rose50);
  border-radius: 10px;
  gap: 20px;

  & li{
    display: flex;
    justify-content: space-around;
    padding: 16px 10px;
    text-align: center;

    &.coupons__title{
      color: var(--green);
      border-bottom: 1px solid;

      & > *{
        width: 200px;
      }
    }

    & > p{
      width: 200px;
      text-wrap: balance;
    }
  }
}