*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose50: hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 96%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(7, 20%, 60%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
  --orange: hsl(12deg 100% 52.41%);
  --gray-blue:hsl(180deg 100% 17.39%);
  --shadow : hsl(0deg 0% 0% / 45%);
}
  
body {
  background-color: var(--rose100);
  padding: 75px !important;
  min-width: 320px;
  width: 100vw;
  min-height: 100vh;
  content-visibility: auto;
}
