.login {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &>.form {
    min-width: 350px;
    height: min-content;
    background-color: var(--rose50);
    /* background-color: red; */
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;

    &>.form__toogle {

      display: inherit;

      &>button {
        width: 50%;
        padding: 16px;
        background-color: var(--rose100);
        border: none;
        cursor: pointer;

        &.active {
          background-color: var(--rose50);
          border-color: var(--rose50);
          color: var(--gray-blue);
          border-bottom: none;
          font-weight: 600;
          font-size: 16px;
          border-style: none;
          cursor: default;
        }
      }
    }

    &>form {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      align-items: center;

      & label {
        margin: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;
        position: relative;

        &>input {
          margin-top: 8px;
          padding: 10px;
          border-radius: 6px;
          border-style: none;
        }

        &>span {
          position: absolute;
          left: 90%;
          bottom: 2px;
        }
      }

      &>button {
        width: 80%;
        padding: 10px;
        border-radius: 20px;
        border-style: none;
        background-color: var(--gray-blue);
        font-weight: 600;
        font-size: 16px;
        color: var(--rose50);
      }
    }

    .password--recover {
      color: var(--gray-blue);
      margin-block: 6px;
      background-color: transparent;
      border: 0;
      padding: 0;
      cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
    }
  }
}