#root {
  gap: 50px;
  padding-top: 20px;
}

.header{
  display: flex;
  justify-content: center;

  & > a{
    text-decoration: none;
    margin-inline: 30px;
    scale: 1.6;
    color: var(--rose900);
    font-weight: 600;

    &.active{
      border-bottom: 1px solid var(--orange);
      color: var(--gray-blue);
    }
  }

  & > h1:first-child{
    border-bottom: 2px solid var(--red);
  }
}

.dessets {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  /* gap: 30px; */

  & li.food {
    list-style: none;
    user-select: none;
    padding: 30px;
    padding-bottom: 0;

    & .food__category {
      color: var(--rose500);
    }

    & .food__price {
      color: var(--red);
      font-weight: 700;
    }
  }
}

main{
  display: flex;
  justify-content: center;
}

aside {
  width: 25vw;
  min-width: 250px;
  max-width: 380px;
  height: fit-content;
  padding: 30px 20px;
  background-color: var(--rose50);
  border-radius: 10px;
  transition: height 2.5s;
  margin-top: 30px;
  interpolate-size:allow-keywords;

  & h2{
    color: var(--red);
    font-weight: 800;
  }
}

figure {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26px;
  /* background-color: red; */

  & img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 502/480;
  }

  & .btn_addCart {
    place-items: center;
    border: .5px solid black;

    &:hover {
      color: var(--red);
      border-color: var(--red);
    }
  }
}

button {
  cursor: pointer;
}

.cuantity__cart {
  width: 151px;
  height: 42px;
  margin: 12px;
  padding: 10px 30px;
  border-radius: 22px;
  position: absolute;
  bottom: -30px;
  display: flex;
}

.toogle {
  color: var(--rose50);
  background-color: black;
  padding-inline: 10px;
  justify-content: space-between;
  background-color: var(--red);

    & i:hover {
      background-color: var(--rose50);

      &>svg>path {
        fill: var(--red);
      }
    }
}

i {
  padding: 5px;
  scale: .8;
  border-radius: 50%;
  display: flex;
  place-items: center;
  border: 1px solid;
  cursor: pointer;
}

.cart--empty{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  place-items: center;

  & p{
    margin-top: 10px;
  }
}

.cart--items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6px;
  border-bottom: 1px solid var(--rose100);

  & i{
    border-color: var(--rose300);

    &:hover{
      border-color: var(--rose900);
      &>svg>path {
        fill: var(--rose900);
      }
    }
  }

  & h3 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  & .item__info{
    display: inline-flex;
    gap: 8px;

    & .cuantity{
      color: var(--red);
      font-weight: 600;
    }

    & .unit__price{
      color: var(--rose500);
    }

    & .total__price{
      color: var(--rose900);
    }
  }
}

.total__pay{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & p.total{
    font-weight: 700;
    font-size: 32px;
    text-decoration: solid;
  }
}

.ads{
  background-color: var(--rose100);
  text-align: center;
  padding: 14px 10px;
  border-radius: 10px;
}

.btn--confirm{
  width: 100%;
  padding: 14px;
  border: none;
  background-color: var(--red);
  color: var(--rose50);
  font-weight: 600;
  border-radius: 30px;
  margin-top: 20px;

  &:hover{
    background-color: var(--rose500);
  }
}