.login {
  width: 100%;
  height: 60dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  &>.form {
    min-width: 350px;
    height: 380px;
    background-color: var(--rose50);
    /* background-color: red; */
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;

    &>.form__toogle {

      display: inherit;

      &>button {
        width: 50%;
        padding: 16px;
        background-color: var(--rose100);
        border: none;
        cursor: pointer;

        &.active {
          background-color: var(--rose50);
          border-color: var(--rose50);
          color: var(--gray-blue);
          border-bottom: none;
          font-weight: 600;
          font-size: 16px;
          border-style: none;
          cursor: default;
        }
      }
    }

    &>form {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      align-items: center;

      & label {
        padding: 20px;
        width: 90%;
        display: flex;
        flex-direction: column;

        &>input {
          margin-top: 8px;
          padding: 10px;
          border-radius: 6px;
          border-style: none;
        }
      }

      &>button {
        width: 80%;
        padding: 10px;
        border-radius: 20px;
        border-style: none;
        background-color: var(--gray-blue);
        font-weight: 600;
        font-size: 16px;

        &>a {
          text-decoration: none;
          color: var(--rose50);
        }
      }
    }

    &>span {
      text-align: right;
      padding-right: 30px;
      color: var(--gray-blue);
      scale: .9;
    }
  }
}